table {
	margin: 0px;
}
td {
	font-size: 13px;
}
a:visited {
	color: rgb(0, 0, 255); text-decoration: none;
}
a:hover {
	color: rgb(255, 0, 0); text-decoration: none;
}
a:link {
	color: rgb(0, 0, 255); text-decoration: none;
}
.cls-loading-img {
	border: 0px currentColor; width: 220px; height: 19px; display: none; position: absolute; z-index: 1000; background-image: url("icons/loading.gif");
}
.cls-articlelist-data-table {
	border: 0px currentColor; border-collapse: collapse;
}
.cls-data-tr-head-articlelist {
	height: 20px;
}
.cls-data-tr-odd {
	background-color: rgb(251, 251, 251);
}
.cls-data-tr-even {
	background-color: rgb(255, 255, 255);
}
.cls-data-th-articlelist {
	border: 1px solid rgb(192, 192, 192); text-align: center; vertical-align: middle; background-image: url("images/datatitle_bg.gif");
}
.cls-data-td-articlelist {
	background: url("images/articlelist_bottomline.gif") repeat-x left bottom; height: 23px; line-height: 23px; min-height: 23px;
}
.cls-data-table {
	border: 1px solid rgb(192, 192, 192); border-collapse: collapse;
}
.cls-data-tr-head-list {
	height: 20px;
}
.cls-data-th-list {
	border: 1px solid rgb(192, 192, 192); text-align: center; vertical-align: middle; background-image: url("images/datatitle_bg.gif");
}
.cls-data-td-list {
	border: 1px solid rgb(192, 192, 192); height: 23px; padding-top: 0px; padding-bottom: 0px; min-height: 23px;
}
.cls-data-content-list {
	width: 100%; overflow: hidden; -ms-text-overflow: ellipsis;
}
.cls-data-td-editlist {
	border: 1px solid rgb(192, 192, 192); height: 23px; overflow: hidden; padding-top: 0px; padding-bottom: 0px; -ms-text-overflow: ellipsis; min-height: 23px;
}
.cls-data-td-listform {
	border: 1px solid rgb(192, 192, 192); height: 23px; overflow: hidden; padding-top: 0px; padding-bottom: 0px; -ms-text-overflow: ellipsis; min-height: 25px;
}
.cls-data-table-detail {
	border: 1px solid rgb(192, 192, 192); border-collapse: collapse;
}
.cls-data-th-detail {
	border: 1px solid rgb(192, 192, 192); background-color: rgb(235, 240, 254);
}
.cls-data-td-detail {
	border: 1px solid rgb(192, 192, 192); height: 23px; min-height: 23px;
}
.cls-data-td-editdetail {
	border: 1px solid rgb(192, 192, 192); height: 25px; min-height: 25px;
}
.cls-search-table {
	border: 0px currentColor; height: 40px; background-image: url("images/searchbox_bgcolor.gif");
}
.cls_search_class1 {
	
}
.cls_search_tip {
	color: rgb(34, 60, 148);
}
.cls_search_class3 {
	
}
.cls-button {
	background: url("images/button.gif") no-repeat; border: 0px currentColor; width: 45px; height: 20px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; cursor: pointer;
}
.cls-button-mouseover {
	background: url("images/button_mouseover.gif") no-repeat; border: 0px currentColor; width: 45px; height: 20px; text-align: center; color: rgb(51, 85, 204); font-size: 12px; cursor: pointer;
}
.cls-button-disabled {
	background: url("images/button.gif") no-repeat; border: 0px currentColor; width: 45px; height: 20px; text-align: center; color: rgb(160, 160, 160); font-size: 12px;
}
.cls-button2 {
	background: url("images/button2.gif") no-repeat; border: 0px currentColor; width: 70px; height: 20px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; cursor: pointer;
}
.cls-button2-mouseover {
	background: url("images/button2_mouseover.gif") no-repeat; border: 0px currentColor; width: 70px; height: 20px; text-align: center; color: rgb(51, 85, 204); font-size: 12px; cursor: pointer;
}
.cls-button2-disabled {
	background: url("images/button2.gif") no-repeat; border: 0px currentColor; width: 70px; height: 20px; text-align: center; color: rgb(160, 160, 160); font-size: 12px;
}
.cls-datatable-headline {
	height: 2px; background-color: rgb(135, 149, 222);
}
.cls-inputbox-normal {
	border: 1px solid rgb(199, 199, 199); font-size: 13px; display: inline;
}
.cls-inputbox-datepicker {
	background: url("images/datePicker.gif") no-repeat right;
}
.cls-inputbox-typeselectbox {
	background: url("images/down_arrow.jpg") no-repeat right;
}
.cls-inputbox-mouseover {
	border: 1px solid rgb(100, 102, 203); font-size: 13px; display: inline;
}
.cls-inputbox-focus {
	border: 2px solid rgb(100, 102, 203); font-size: 13px; display: inline;
}
.cls-inputbox-textareabox {
	width: 100%;
}
.cls-inputbox2-full {
	border: 0px currentColor; width: 100%; height: 18px; color: rgb(0, 0, 0); font-size: 13px; background-color: transparent;
}
.cls-inputbox2-selectbox-full {
	border: 2px solid rgb(100, 102, 203); width: 100%; font-size: 13px; display: inline;
}
.cls-inputbox2 {
	border: 0px currentColor; height: 18px; color: rgb(0, 0, 0); font-size: 13px; background-color: transparent;
}
.cls-inputbox2-selectbox {
	border: 2px solid rgb(100, 102, 203); font-size: 13px; display: inline;
}
.cls-inputbox-textareabox2 {
	border: 1px solid rgb(100, 102, 203); left: 0px; top: 0px; height: 100px; overflow: auto; padding-left: 2px; font-size: 13px; display: none; position: absolute; z-index: 101; background-color: rgb(255, 255, 255);
}
.cls-img-normal {
	cursor: pointer;
}
.cls-img-mouseover {
	border: 1px solid rgb(100, 102, 203); cursor: pointer;
}
.resize_span {
	margin: 0px; border: 0px currentColor; width: 3px; text-align: right; float: right; cursor: e-resize;
}
.filter_span {
	margin: 0px; border: 0px currentColor; text-align: right; float: right;
}
.colSelectedLabel_leftimg {
	margin: 0px; text-align: left; float: left; cursor: pointer;
}
.colSelectedLabel_rightimg {
	margin: 0px; text-align: right; float: right; cursor: pointer;
}
.titletree_container {
	margin: 0px; border: 1px solid rgb(100, 165, 248); left: 0px; top: 0px; position: absolute; z-index: 999; background-color: rgb(255, 255, 255);
}
.titletree_container_inner {
	padding: 5px 2px 5px 10px; left: 0px; top: 0px; overflow: auto; background-color: rgb(255, 255, 255);
}
span.spanOutputTextDropdown {
	border: 1px solid rgb(100, 165, 248); left: 0px; top: 0px; overflow: auto; padding-left: 2px; font-size: 13px; display: none; position: absolute; z-index: 101; background-color: rgb(255, 255, 255);
}
span.spanOutputTextTypePrompt {
	border: 1px solid rgb(0, 0, 0); left: 0px; top: 0px; overflow: auto; padding-left: 2px; font-size: 13px; display: none; position: absolute; z-index: 101; background-color: rgb(255, 255, 255);
}
span.spanOutputTitleElement {
	background: rgb(100, 149, 237); color: rgb(0, 0, 0);
}
span.spanOutputNormalElement {
	background: rgb(255, 255, 255); color: rgb(0, 0, 0);
}
span.spanOutputHighElement {
	background: rgb(0, 0, 64); color: white; cursor: pointer;
}
span.spanTipContainer {
	background: rgb(238, 238, 238); border-width: 1px 2px 2px 1px; border-style: solid; border-color: rgb(102, 102, 102); font: bold 12px/normal Verdana, Arial, Helvetica, sans-serif; padding: 3px; text-align: left; color: red; overflow: auto; display: none; z-index: 1000; font-size-adjust: none; font-stretch: normal;
}
.contextmenu {
	margin: 10px 0px 0px; border: 2px solid rgb(55, 69, 126); width: 100px; text-align: left; line-height: 20px; padding-top: 4px; font-family: "ו"; font-size: 12px; visibility: hidden; position: absolute; cursor: default; background-color: rgb(235, 240, 254);
}
.contextmenuitems_enabled {
	padding: 2px 1px 2px 10px;
}
.contextmenuitems_disabled {
	padding: 2px 1px 2px 10px; color: rgb(128, 128, 128);
}
.dragShadowInit {
	display: none; position: absolute; z-index: 101; cursor: default; opacity: 0.5; background-color: gray;
}
.dragShadowOnMove {
	position: absolute; z-index: 101; cursor: default; opacity: 0.5; background-color: gray;
}
.cls-roworder-arrow {
	border: 1px solid rgb(154, 155, 155); width: 20px; height: 20px; cursor: pointer; background-color: rgb(243, 243, 243);
}
.cls-roworder-disabled .cls-roworder-arrow {
	border: 1px solid rgb(154, 155, 155); width: 20px; height: 20px; color: rgb(144, 144, 144); cursor: default; background-color: rgb(243, 243, 243);
}
.cls-roworder-top {
	background: url("images/top.gif") no-repeat; border: 0px currentColor; width: 20px; height: 20px; cursor: pointer;
}
.cls-roworder-disabled .cls-roworder-top {
	background: url("images/top_disabled.gif") no-repeat; border: 0px currentColor; width: 20px; height: 20px; cursor: default;
}
.cls-editablelist-editcol {
	background: url("images/rowedit.gif") no-repeat; border: 0px currentColor; width: 19px; height: 20px; cursor: pointer;
}
.cls-editablelist-disabledcol .cls-editablelist-editcol {
	background: url("images/rowedit_disabled.gif") no-repeat; border: 0px currentColor; width: 20px; height: 19px; cursor: default;
}
.cls-blocklist {
	margin: 0px; padding: 0px; list-style-type: none;
}
.cls-blocklist-block {
	margin: 0px; text-align: center; float: left;
}
.cls-blocklist-item {
	
}
.cls-fixed-divcontainer {
	width: 100%; height: 100%; overflow: hidden; position: relative;
}
.cls-fixed-header {
	position: absolute; z-index: 3; background-color: rgb(255, 255, 255);
}
.cls-fixed-headerInner {
	position: relative;
}
.cls-fixed-headerInner table {
	width: 1px !important; border-collapse: collapse !important; table-layout: fixed !important; border-spacing: 0px 0px !important; background-color: rgb(255, 255, 255);
}
.cls-fixed-fixedHeader {
	overflow: hidden; position: absolute; z-index: 4;
}
.cls-fixed-fixedHeader table {
	width: 1px !important; border-collapse: collapse !important; table-layout: fixed !important; border-spacing: 0px 0px !important; background-color: rgb(255, 255, 255);
}
.cls-fixed-data {
	overflow: auto; position: absolute; z-index: 2; background-color: rgb(255, 255, 255);
}
.cls-fixed-data table {
	width: 1px !important; border-collapse: collapse !important; table-layout: fixed !important; border-spacing: 0px 0px !important;
}
.cls-fixed-fixeddata {
	position: absolute; z-index: 1; background-color: rgb(255, 255, 255);
}
.cls-fixed-fixeddata table {
	width: 1px !important; border-collapse: collapse !important; table-layout: fixed !important; border-spacing: 0px 0px !important;
}
.cls-fixed-fixeddataInner {
	position: relative;
}
.cls-fixed-cols {
	background-color: rgb(238, 238, 238);
}
.cls-navigate-label {
	text-align: center; font-family: Verdana,Arial,Tahoma;
}
.cls-navigate-label .cls-navigate-link {
	padding: 3px 5px; color: rgb(85, 85, 85); vertical-align: bottom; cursor: pointer;
}
.cls-navigate-link {
	padding: 3px 5px; font-family: Verdana,Arial,Tahoma; vertical-align: bottom;
}
.cls-navigate-info {
	color: rgb(56, 56, 56); vertical-align: bottom;
}
.cls-navigate-img {
	vertical-align: top;
}
.cls-navigate-link .cls-navigate-firstbutton {
	background: url("images/first.gif") no-repeat; border: 0px currentColor; width: 12px; height: 15px; text-align: center;
}
.cls-navigate-label .cls-navigate-link .cls-navigate-firstbutton {
	background: url("images/firstlink.gif") no-repeat; border: 0px currentColor; width: 12px; height: 15px; text-align: center; cursor: pointer;
}
.cls-navigate-link .cls-navigate-previousbutton {
	background: url("images/previous.gif") no-repeat; border: 0px currentColor; width: 8px; height: 15px; text-align: center;
}
.cls-navigate-label .cls-navigate-link .cls-navigate-previousbutton {
	background: url("images/previouslink.gif") no-repeat; border: 0px currentColor; width: 8px; height: 15px; text-align: center; cursor: pointer;
}
.cls-navigate-link .cls-navigate-nextbutton {
	background: url("images/next.gif") no-repeat; border: 0px currentColor; width: 8px; height: 15px; text-align: center;
}
.cls-navigate-label .cls-navigate-link .cls-navigate-nextbutton {
	background: url("images/nextlink.gif") no-repeat; border: 0px currentColor; width: 8px; height: 15px; text-align: center; cursor: pointer;
}
.cls-navigate-link .cls-navigate-lastbutton {
	background: url("images/last.gif") no-repeat; border: 0px currentColor; width: 12px; height: 15px; text-align: center;
}
.cls-navigate-label .cls-navigate-link .cls-navigate-lastbutton {
	background: url("images/lastlink.gif") no-repeat; border: 0px currentColor; width: 12px; height: 15px; text-align: center; cursor: pointer;
}
.cls-dataexport-success {
	text-align: center; color: rgb(0, 100, 0); font-size: 20px; font-weight: bold;
}
.cls-dataexport-path {
	text-align: center; color: rgb(0, 0, 139); font-size: 16px; margin-top: 20px;
}
.cls-dataexport-failed {
	text-align: center; color: rgb(220, 20, 60); font-size: 16px; font-weight: bold;
}
.loading-indicator {
	background: url("icons/loading.gif") no-repeat center; width: 220px; height: 20px;
}
.loading-indicator-overlay {
	opacity: 0.6; background-color: rgb(255, 255, 255);
}
